.result {
  // border:1px solid #000;
}
article {
  margin-bottom: 2rem;
  text-align: left;
}
article a:hover {
  text-decoration: underline;
}
.title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.info {
  display: flex;
}
.thumbnail {
  margin-right: 0.5rem;
}


